@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-muted {
    @apply text-gray-500;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading;
  }
}

@layer components {
  /* input[type="text"],
  textarea {
    @apply !bg-transparent;
  } */

  .bg-main-container {
    background-color: #eff2fb !important;
    min-height: calc(100vh - 3.5rem);
  }
  .dashboard-card .arrow {
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .dashboard-card:hover .arrow {
    opacity: 1;
    transform: translateX(5px);
  }
}

.swal2-container {
  padding: 1.5rem !important;
}
.swal2-title {
  font-size: 1.5em !important;
}
.swal2-html-container {
  font-size: 1em !important;
}

.label-custom > input:checked + div {
  /* (RADIO CHECKED) DIV STYLES */
  @apply border-blue-400;
}

.label-custom > input[type="checkbox"]:focus {
  /* (RADIO CHECKED) DIV STYLES */
  --tw-ring-color: transparent;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay--after-open {
  z-index: 999;
}

.ReactModal__Content--after-open {
  padding: 0px!important;
  margin: 20px!important;
}

.DialogOverlay[data-state='open'],
.DialogContent[data-state='open'] {
  animation: fadeIn 300ms ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
